form {
	width: 100%;
	display: flex;
	justify-items: stretch;
	align-items: stretch;
}
form > input {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	border-right: 0px;
	border: 1px solid black;
	border-left: 0px;
	text-align: center;
	padding: 5px;
	background-color: rgb(236, 235, 235);
	font: inherit;
	font-size: 1rem;
	line-height: inherit;
	outline: none;
}
.isUpdate>input{
    background-color: rgb(255, 255, 255);
}
.isNew>input{
    background-color: rgb(230, 230, 230);
}
.container {
    background-color: brown;
    font-size: 200px;
}